body, input {}

#title {
  text-align: center;
}

#search-container {
  text-align: center;
}
#search {
  width: 50%;
  margin-bottom: 2em;
  text-align: center;
}
/*
#results {
  margin-bottom: 4em;
}

#submit {
  border: solid 1px;
  padding: 1em;  
}
*/
