body{
  padding-top: 5em;
  padding-bottom: 5em;
}

#title {
  text-align: center;
}

#search-container {
  text-align: center;
}
#search {
  width: 50%;
  margin-bottom: 2em;
  text-align: center;
}

.section {
  margin-top: 5em;
  margin-bottom: 5em;
}

.section-name {
  text-align: center;
}

.price {
}
.product {
}

.duration {
  font-size: 0.1em;
}

/* Submission area */
.submission {
  width: 100%;
  text-align: center;
}
form {
  border: 1px solid;
  padding: 10%;
}
input[type='text'] {
  width: 40em;
}
select {
  width: 40em;
}
